@import "tailwindcss";

body {
  font-family: var(--font-display);
  background-color: var(--color-background);
}

.with-gradient-light::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: var(--gradient-light);
  pointer-events: none;
}

.with-gradient-dark::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: var(--gradient-dark);
  pointer-events: none;
}

.dark-theme-card {
  color: var(--color-text-light);
}

.light-theme-card {
  color: var(--color-text-primary);
}
